{% extends "base.twig" %}
{% block title %}About us{% endblock %}
{% block content %}
<h1>More About Us</h1>
<p><strong>‘Sree's bakery’</strong> is known for our tasty baked goods,
sweets and cakes. Everything started with taking up little gathering requests. 
Our pastry specialists work during that time with the goal
that the portion of bread you purchase toward the beginning
of the day is crisp out of the stove!</p>
<p>All of our cakes and treats are made fresh from scratch with every order. 
Nothing is ever frozen and we use all natural ingredients.  Great care is
taken with each and every order, and decorated to impress.</p> 
<p>We strive to set new trends and are constantly inspired by our customer's creativity!  
Combining our good ol' fashioned scratch baking with fresh ideas push us into creative
unchartered cake decorating territory.</p> 
<p>We promise to leave you satisfied and full of happiness with every bite!</p> 


<p>‘Sree's Bakery’ is a family possessed bread
kitchen located on lakeville opened by our family in 2016.</p></h3>
{% endblock %} 