{% extends "base.twig" %}
{% block content %}
<div class = "content">
<h2>Done!</h2>
<p>{{product.firstName}} your order has been placed</p>
<a href="/product">Back to Our Products</a>
<div>
{% endblock %}