{% extends "base.twig" %}
{% block title %}Our example products{% endblock %}
{% block content %}
<h1>Enjoy our freshly baked items! </h1>
<h2><img src="../../../../assets/img/delivery2.png"/>Here are our products</h2>

<ul>
            <li>Banana Walnut bread</li>
            <li>Chocolate Cookie</li>
            <li>Rum Raisin Cupcake</li>
            <li>Dark Chocolate Brownie</li>
</ul>

        
                        <section class="picture">
                                       
                                <div>
                                <h2>Banana Walnut bread</h2>
                                <img src="../../../../assets/img/BananaNutBread.jpg"/>
                                These banana nut bread 
                                are some of the most moist bread you’ll ever have. Plus, 
                                they are loaded with banana flavor and just 
                                the right amount of chocolate chips!The banana flavor really 
                                comes through and there are chocolate chips in every bite!

                                </div>
                                <div>
                                <h2>Chocolate Cookie</h2>
                                These double chocolate chip cookies are amazing; 
                                they are soft and fudgey on the inside and crispy 
                                on the outside. This double 
                                chocolate chip cookie recipe is easy to make and
                                loaded with so much chocolate goodness that 
                                I want every chocoholic to try them!
                                <img src="../../../../assets/img/ChocolateCookie.jpg"/>
                                
                                
                                </div>
                                <div>
                                <h2>Rum Raisin Cupcake</h2>
                                <img src="../../../../assets/img/RumRaisinCupcake.jpg"/>
                                Let these Rum and Raisin cupcakes lighten your mood 
                                and make you feel better. There's nothing a cupcake cannot fix.
                                These cupcakes are made using black rum and raisins and will 
                                blow your mind away. It is a classic combination which is 
                                loved by everyone. The other ingredients used in it are all-purpose
                                flour, baking powder, sugar, butter, milk, heavy cream, and icing sugar.
                                The raisins used in these cupcakes contain the flavor of rum as they are 
                                soaked in it overnight. They are decorated with a creamy frosting and are 
                                absolutely alluring to look at. These cupcakes are a real treat to your 
                                taste buds. This delicious dessert recipe 
                                is a must-have for those who have a sweet tooth.
                                </div>
                                <div>
                                 <h2>Dark Chocolate Brownie</h2> 
                                Worlds best fudgiest brownies is my best brownie recipe!
                                perfect crisp crackly top, super fudgy centre, 
                                chewy or gooey in all the right places, 
                                studded with melted chunks of chocolate.
                                <img src="../../../../assets/img/DarkChocolateBrownie.jpg"/>
                               
                                </div>

                                
                        </section>
                
<div class = "content">


<p><a href="/product/add">Place a new order</a></p>
<p><a href="/product/show">Your recent Orders</a></p>

</div>



{% endblock %} 