{% extends "base.twig" %}

{% block content %}

        
                               
                        <h1>Welcome To The <img src="../../../../assets/img/home5.png"/>  </h1>

                        <h2>Located in Lakeville, Minnesota, The Cake Shop crafts 
                        all of our baked treats from scratch with fresh natural ingredients.
                        For the most discerning sweet tooth, we offer Custom Cakes, 
                        Specialty Cakes, Cupcakes & Chocolate Brownies!
                        </h2>
                        
                        <section>
                                      
                                <div>
                                <img src="../../../../assets/img/cake1.png"/>
           
                                <img src="../../../../assets/img/cakeart2.png"/>

                                </div>
                        </section>

                        <footer>
                        <p>Sree's Bakery, 25 W 25th Ave,  Lakeville MN (650) 393-4250 SreeBakery.Shop@yahoo.com </p>
                        <p>Copyright | 2016 | The Cake Bake Shop | Web Design by sree's Creative Studio</p>
                        </footer>
                
                        
{% endblock %} 
